//Variables - Colors
$background-color: rgba(110, 230, 253, 0.57);
$box-background: rgba(100, 135, 255, 0.58);
$box-background-hover: rgba(84, 114, 255, 0.58);
$section-background: rgba(104, 176, 253, 0.57);
$text-color: rgb(15, 7, 117);
$button-background: rgba(101, 149, 225, 0.86);
$button-background-hover: rgba(90, 121, 225, 0.86);
$navigation-background: rgba(91, 101, 193, 0.84);
//Variables - Font
$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700
);

@function weight($weight-name) {
    @return map-get($map: $font-weights, $key: $weight-name)
}

@mixin flexCenter($direction) {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: $direction; 
}


body {
    background-color: $background-color;
    color: $text-color;
    font-weight: weight(bold);
}

section {
    width: 90%;
    margin: 0 auto;
    background-color: $section-background;
    @include flexCenter(column);
    box-shadow: 1px 1px 10px 1px;
    padding: 10px;
}

article {
    @include flexCenter(row);
    flex-wrap: wrap;
    width: inherit;

    .sportelement {
        background-color: $box-background;
        margin: 10px;
        padding: 10px;
        max-width: 30%;
        border-radius: 15px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.27);
    }


    .sportelement:hover {
        background-color: $box-background-hover;
    }

    //Inhalt
    h1, h2 {
        text-align: center;
    }

    img {
        border-radius: 0px 0px 5px 5px;
    }
}


navigation {
    @include flexCenter(row);
    width: 90%;
    margin: 0 auto;
    background-color: $navigation-background;
    a {
        padding: 50px;
        flex-direction: row;
        font-weight: weight(medium);
        background-color: $button-background;
        text-decoration: none;
    }

    a:hover {
        background-color: $button-background-hover;
        font-weight: weight(bold);
        text-decoration: underline;
        box-shadow: 1px 1px 1px 1px $button-background;
    }
}

img {
    max-height: 200px;
    height: auto;
    width: 100%;
    max-width: fit-content;
    overflow: hidden;
}
