section {
    background-color: green;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-evenly;
}

article {
    display:flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-evenly;
    .sportelement {
        flex-direction: row;
    }
}

a { 
    padding: 50px;
}

navigation {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-evenly;
}