//Variables - Colors
$background-color: rgba(220, 253, 220, 0.571);
$box-background: rgba(103, 255, 103, 0.578);
$box-background-hover: rgba(140, 255, 140, 0.578);
$section-background: rgb(212, 255, 212);
$text-color: rgb(0, 0, 0);
$button-background: rgba(136, 225, 136, 0.864);
$button-background-hover: rgb(178, 240, 178);
$navigation-background: rgba(130, 193, 130, 0.837);
//Variables - Font
$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700
);

@function weight($weight-name) {
    @return map-get($map: $font-weights, $key: $weight-name)
}

@mixin flexCenter($direction) {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: $direction; 
}


body {
    background-color: $background-color;
    color: $text-color;
    font-weight: weight(bold);
}

section {
    width: 90%;
    margin: 0 auto;
    background-color: $section-background;
    @include flexCenter(column);
    box-shadow: 1px 1px 3px 3px;
    padding: 10px;
}

article {
    @include flexCenter(row);
    flex-wrap: wrap;
    width: inherit;
    .sportelement {
        background-color: $box-background;
        margin: 10px;
    }
    .sportelement:hover {
        background-color: $box-background-hover;
    }

    //Inhalt
    h1 {
        text-align: center;
    }

}


navigation {
    @include flexCenter(row);
    width: 90%;
    margin: 0 auto;
    background-color: $navigation-background;
    a {
        padding: 50px;
        flex-direction: row;
        font-weight: weight(medium);
        background-color: $button-background;
        text-decoration: none;
    }

    a:hover {
        background-color: $button-background-hover;
        font-weight: weight(bold);
        text-decoration: underline;
        box-shadow: 1px 1px 1px 1px $button-background;
    }
}

img {
    height: 200px;
    width: auto;
}